<div id=menu>
	<div id="menu-left">
		<strong><a href="/">hapori (pre-alpha)</a></strong> 

		<% if(locals.forums) { %>
			<% for(var i=0; i<forums.length; i++) { %>
				<%- forums[i].name == forumName ? '<strong>' : '' %>
					<a href="/<%= forums[i].name %>"><%= forums[i].name %></a>
				<%- forums[i].name == forumName ? '</strong>' : '' %>
			<% } %>
		<% } %>
	</div>

	<div id="menu-right">
		<% if(user){ %>
			<a href='/logout'>logout</a> |
		<% } %>
		<strong><a href='#how-it-works'>how it works</a></strong>
	</div>
</div>

