<div id="how-it-works">
        <h3>How it works</h3>
        <p>
          <strong>Hapori is like Reddit but you get bitcoin if you contribute value.</strong> It works like this:
        </p>

        <ul>
          <li>
            Like on Reddit you can submit links and up-vote them (there are no downvotes though.)
          </li>
          <li>
            Unlike on Reddit each up-vote is an investment in a post. You invest the equivalent of a few cents in a post and that money goes to the person who submitted the post and everybody who up-voted before you.
          </li>
          <li>
            Submitting links and comments is free (but you will make money if your post gets upvoted).
          </li>
          <li>
            Thus you can make money by either submitting a post that gets many upvotes, or by up-voting a post that many users up-votes after you. If you amoung the last people to vote on a post you will lose money.
          </li>
          <li>
            Obviously mods contribute a huge amount of value to an open platform like Hapori, and according to our mission we'll give them bitcoins. Details are yet to be worked out, but we are likely to give them a share of the advertising revenue that their community generates.
          </li>
        </ul>

        <h3>Warning!</h3>
        <p>
          This is a pre-alpha prototype and a lot of the functionality is not implemented yet. One example would be bitcoin integration, so <strong>you cannot win (or lose) money yet</strong>. 
        </p>
        <p>
          We're aware that the site is kind of ugly at this point, we'll work on that. We will be following a "form-follows-function" approach, but that does not mean that we don't want things to look good eventually.
        </p>
        <p>
          Hapori is an open source project. Please feel free to get in touch if you'd like to contribute (<a href="mailto:ley.clemens@gmail.com">ley.clemens@gmail.com</a>). Also check out our code on <a href="https://github.com/hapori/hapori">github</a>.
        </p>
        <p>
        <strong>We'd love to hear your feedback</strong>. If you have any comments or questions, just shoot us an email.
        </p>
        <p>
        Cheers,<br />
        The Hapori Team<br />
        (aka Clemens & Roland)
        </p>

      </div>