<%- include('../postRow.ejs', {post: post}) %>


<h3>Comments</h3>
<form class="defualt-comment-form" action="/submitComment" method="post" id="">
	<textarea rows="2" name="text" placeholder=""></textarea><br />
	<input type="hidden" name="parentKey" value="<%= post.postKey %>">
	<input type="hidden" name="postKey" value="<%= post.postKey %>">
	<button type="submit" name="a">Reply</button>
</form>




<div id="comment-container">
	<%- include('../commentTree.ejs', {tree: formatComments(comments), _:_}) %>
</div>


