<%- include('../postRow.ejs', {post: post}) %>


<form class="comment-form" action="/submitComment" method="post" id="">
	<textarea rows="2" name="text" placeholder=""></textarea><br />
	<input type="hidden" name="parentKey" value="<%= post.postKey %>">
	<input type="hidden" name="postKey" value="<%= post.postKey %>">
	<button type="submit" name="a">Reply</button>
</form>


<% for(var i=0; i<comments.length; i++) { %>
	<%- include('../commentRow.ejs', {comment: comments[i]}) %>
<% } %>



