
/* ---- FONT SIZES ---- */

@fontSize: 14px;
@smallFontSize: 10px;

@lineHeight: 20px;
@smallLineHeight: 15px;


/* ---- COLORS ---- */

@fontColor: #333;
@lightFontColor: #bbb;
@linkColor: #00b7ff;

@white: #fff;


/* ---- SIZES ---- */

@sidebarWidth: 600px;
