
/* ---- FONT SIZES ---- */

@smallFontSize: 10px;
@fontSize: 14px;



/* ---- COLORS ---- */

@fontColor: #333;
@lightFontColor: #bbb;
@linkColor: #00b7ff;

@white: #fff;


/* ---- SIZES ---- */

@sidebarWidth: 600px;
