@import "consts.less";


body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: @lineHeight;
  color: @fontColor;
}

a {
  color: @linkColor;
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 50px;
}


h1 {
  font-size: calc(@fontSize*2);
  line-height: calc(@smallLineHeight*2);  
  color: @fontColor;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: @smallFontSize;
  line-height: @lineHeight;
  color: @lightFontColor;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h4 {
	margin: 0;
  font-weight: bold;
  font-size: 14px;
}


a:hover {
    background: @linkColor;
    color: @white;
}

