// https://codedaily.vn/flex/
// http://stackoverflow.com/questions/23794713/flexbox-two-fixed-width-columns-one-flexible

@import "html.less";
@import "navbar.less";
@import "footer.less";




.layout-container {
  display: flex;
  flex-direction: column;
}

.layout-container .header {
  height: 50px;
}

.layout-container .footer {
  height: 50px;
}

.layout-container .body {
    display: flex;
    x-justify-content: space-around;
    x-align-items: stretch;
    max-width: 1200px;
}

.layout-container .body .main {
    border-left: 1px solid #eee;
  padding: 10px;

}

.layout-container .body .sidebar {
    width: 230px;
    flex: 0 0 230px;
  padding: 10px;

}




