@import "consts.less";
@import "thumbs.less";


.post-row {
	height: auto;
	overflow: hidden;
	margin: 0px 0px 20px;
}

.vote-box {
	width: 60px;
	float: left;
	text-align: center;
}

.vote-arrow {
    font-size: 20px;
    line-height: 10px;	
}

.vote-number {
	font-size: 14px;
	line-height: 12px;
	padding: 5px 0 3px;
}

.vote-satoshi {
    font-size: 10px;
    line-height: 10px;
}



.post-title {
	width: 655px;
}

.post-title>h4>a {
	padding: 0 2px 0;
	margin: 0 -2px 0;
}

.post-box {
	width: auto;
	overflow: hidden;
	padding-left: 10px;
}

.post-info {
	color: @lightFontColor;
    font-size: 10px;
    line-height: 22px;
}

.post-text {
	color: @fontColor;
    font-size: 12px;
    line-height: 20px;
    width: 650px;
}

.post-row img {
	float: left;
	margin: 0 10px 0 0;
}





