


.html {
	display: none;
	margin: 0 0 10px;
	overflow: auto;
	align-items: flex-start;
}

.html>iframe {
//	float: left;
}


.html-close {
	position: relative;
	left: 5px;
	top: -6px;
	cursor: pointer;
	color: @linkColor;
	width: 15px;
}

.html .html-wrapper {
	-webkit-flex: 1;
	flex: 1;
}


.html>iframe {
	margin: 0 !important;
}